.git
.github
.gitignore
.gitattributes
.dockerignore
node_modules
vendor
.env
.env.example
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
docs/screenshots
*.md
README.md
CONTRIBUTING.md
LICENSE
.editorconfig
.vscode
.idea
tests
phpunit.xml